.shopBlock {
    max-width: 1440px;
    height: 4114px;
    border-radius: 32px;
    padding: 50px 60px 60px 60px;

    background-color: #fff;

    .shopHeader {
        .shopHeaderTitle {
            margin: 0;
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: 700;
        }

        .shopHeaderIcon {
            position: relative;
        }

        i {
            position: absolute;
            top: -40px;
            font-size: 30px;
            color: #613CC5;
        }
    }

    .shopContent {
        display: flex;

        .itemsBlock {
            margin: 20px 20px 20px 120px;

            .spanSorting {
                color: #b1b1b1;
            }

            .items {
                margin-top: 30px;

                display: grid;
                grid-template-columns: 255px 255px 255px 255px;
                grid-template-rows: 407px 407px 407px 407px 407px 407px 407px;
            }
        }

    }

    .buttonLoadmore {
        display: flex;
        justify-content: center;

        button {
            position: relative;
            cursor: pointer;
            height: 59px;
            width: 243px;
            margin: 80px 0 65px 0;
            border-radius: 10px;
            border: none;
            outline: none;
            font-size: 17px;
            transition: .5s;
            color: #fff;
            background-color: #613CC5;

            i {
                position: absolute;
                font-size: 21px;
                margin: 1px 0 0 15px;
            }

            :nth-child(2) {
                position: relative;
                margin: 0;
                opacity: 0;
            }
        }

        :hover {
            background-color: #a84c8d;
        }
    }
}


@media screen and (max-width: 450px) {
    .shopBlock {
        max-width: 100%;
        height: 5898px;
        border-radius: 32px;
        padding: 30px 15px;

        background-color: #fff;

        .shopHeader {
            .shopHeaderTitle {
                margin: 0;
                font-size: 18px;
                margin-bottom: 20px;
                font-weight: 700;
            }

            .shopHeaderIcon {
                position: relative;
            }

            i {
                position: absolute;
                top: -23px;
                font-size: 20px;
                color: #613CC5;
            }
        }

        .shopContent {
            // display: flex;
            display: block;

            .itemsBlock {
                margin: 30px 0 0 0;

                .spanSorting {
                    color: #b1b1b1;
                }

                .items {
                    margin-top: 30px;
                    display: grid;
                    grid-template-columns: 51% 51%;
                    grid-template-rows: 329px 329px 329px 329px 329px 329px 329px 329px 329px 329px 329px 329px 329px 329px 329px 329px;
                }
            }

        }
    }

}